<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Library Authors</title>
    </head>
    <body>
        <div class="container">
            <h1>Here are all of the authors we have:</h1>

            {% if authors is not empty %}
                <ul>
                    {% for author in authors %}
                    <li><a href="/authors/{{ author.getId }}"> {{ author.getName }} </a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no authors in the library!</p>
            {% endif %}

            <h4>Add a new author:</h4>
            <form action="/authors" method="post">
                <label for="name">Author name:</label>
                <input type="text" name="name" id="name">
                <button type="submit" class="btn-success">Add them!</button>
            </form>

            <form action="/delete_authors" method="post">
                <button type="submit" class="btn-danger">Burn all authors   ?</button>
            </form>

            <h3><a href="/">Go home</a></h3>
        </div>
    </body>
</html>
