<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Library</title>
  </head>
  <body>
    <h1>{{ author.getName }}</h1>

    <p><a href="/authors/{{ author.getId }}/edit">Edit this published author</a></p>
    <p><a href='/'>Home</a></p>
  </body>
</html>
