<html>
  <head>
    <title>Library</title>
  </head>
  <body>
    <h1>{{ book.getTitle }}</h1>

    <p><a href="/books/{{ book.getId }}/edit">Edit this book</a></p>
    <p><a href='/'>Home</a></p>
  </body>
</html>
