<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Library</title>
    </head>
    <body>
        <div class='container'>
            <div class="jumbotron">
                <h1>Larralla's Library</h1>
            </div>

            <h3><a href="/books">Click here</a> to see all of the books and to add a book.</h3><br>
            <h3><a href="/authors">Click here</a> to see all of the authors and to add an author.</h3><br>
            <h3><a href="/patrons">Click here</a> to see the list of the patrons or add a new patron.</h3><br>

            <form action='/search_books'>
                <label for='search'><h4>Enter a book title to search the library and locate:</h4></label>
                <br>
                <input type='text' name='search' id='search'>
                <button type='submit' class='btn'>Search for book</button>
            </form>
            <br>
            <form action='/search_authors'>
                <label for='search'><h4>Enter an author name to search the library and locate:</h4></label>
                <br>
                <input type='text' name='search' id='search'>
                <button type='submit' class='btn'>Search for author</button>
            </form>

            <!-- <form action='/added_patron'>
                <label for='patron'><h5>New to the library? Enter your name to be added to the patron list:</h5></label>
                <br>
                <input type='text' name='patron' id='patron'>
                <button type='submit' class='btn'>Enter Name</button>
            </form> -->


        </div>
    </body>
</html>
