<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Library</title>
    </head>
    <body>
        <h1 class="jumbotron">Larralla's Library</h1>

        <p><a href="/books">Click here</a> to see all of the books and to add a book.</p>
        <p><a href="/authors">Click here</a> to see all of the authors and to add an author.</p>
    </body>
</html>
