<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Library</title>
    </head>
    <body>
        <div class='container'>
            {% if authors is not empty %}
                <h2>Here are the authors that match your search in our library!</h2>
                {% for author in authors %}
                    <ul>
                        <li><h4>{{ author.getName }}</h4></li>
                    </ul>
                {% endfor %}
            {% else %}
                <h2>SORRY, we don't have any authors that match your search.</h2>
            {% endif %}
            <br>
            <p><a href='/'>Home</a></p>
       </div>
    </body>
</html>
